@page "/"


<h1>Welcome To The CS652 NoSQL DB Implementation!</h1>
<p>
We Will Explore The Following CRUD operations on Azure CosmosDB with the MongoAPI
</p>
<div>
    <p><h3>
        <ul>
            <li>Create</li>
            <li>Read</li>
            <li>Update</li>
            <li>Delete</li>
        </ul>
    </h3></p>
</div>

<div>

    <video width="640" height="480" controls>
        <source src="https://ubcsmediaservice-usea.streaming.media.azure.net/195472b3-a00e-4486-8b4b-eee031141af4/CS652FinalProjectClayton_640x360_1000.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<h4>
    The purpose of this demonstration to demonstrate access to a noSql database.  We have chosen to use the Azure Cloud
    CosmosDb implementation.  Feel free to test!
</h4>